In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import geopandas as gpd
import folium
from folium import Choropleth, Circle, Marker
from folium.plugins import HeatMap, MarkerCluster
import math

In [2]:
df = pd.read_csv("../data/Fast_Food_Restaurants_US.csv")

In [3]:
df_State= df.drop(columns=['Unnamed: 0','address','categories','city','country','postalCode','websites'])

df_State.set_index('province')

           latitude  longitude            name
province
LA        29.814697 -90.814742  SONIC Drive In
LA        29.814697 -90.814742  SONIC Drive In
TN        35.803788 -83.580553       Taco Bell
TN        35.782339 -83.551408          Arby's
GA        33.562738 -84.321143  Steak 'n Shake
...             ...        ...             ...
NC        36.117563 -80.316553       Pizza Hut
NC        36.077718 -80.176748       Pizza Hut
NC        36.111015 -80.089165       Pizza Hut
NC        35.719981 -77.945795       Pizza Hut
NC        34.632778 -78.624615       Pizza Hut

[10000 rows x 3 columns]

In [8]:
map_cluster = folium.Map(location=[40,-94], tiles='cartodbpositron', zoom_start=4)

# Add points to the map
mc = MarkerCluster()
for idx, row in df_State.iterrows():
    if not math.isnan(row['longitude']) and not math.isnan(row['latitude']):
        mc.add_child(Marker([row['latitude'], row['longitude']]))
map_cluster.add_child(mc)

map_cluster.save('map_cluster.html')

NameError: name 'map_cluster' is not defined